root:{

.color1 { #330708 };
.color2 { #e84624 }; /* laranja escuro */
.color3 { #e87624 }; /* laranja */
.color4 { #e8a726 }; /* amarelo escuro */
.color5 { #e8d826 }; /* amarelo */

--cor1: #330708
--cor1: #e84624
--cor1: #e87624
--cor1: #e8a726
--cor1: #e8d826



/* 
Sena Box - assinatura mensal de box de produtos

site no nicho de box de bebidas
cores:
tons laranjas
.color1 { #330708 };
.color2 { #e84624 }; laranja escuro
.color3 { #e87624 }; laranja
.color4 { #e8a726 }; amarelo escuro
.color5 { #e8d826 }; amarelo

tons verdes
cores
.color1 { #373737 };
.color2 { #8db986 };
.color3 { #acce91 };
.color4 { #badb73 };
.color5 { #efeae4 };

site no nicho de beleza 
cores: 
.color1 { #079ea6 }; verde
.color2 { #1e0c42 }; roxo
.color3 { #f0077b }; rosa
.color4 { #f5be58 }; amarelo
.color5 { #e3e0b3 }; amarelo

site no nicho de bebe, alimentos naturais,  
tons pasteis 
cores:
.color1 { #fdf4b0 }; amarelo
.color2 { #a4dcb9 }; verde claro
.color3 { #5bcebf }; azul claro
.color4 { #32b9be }; azul medio
.color5 { #2e97b7 }; azul escuro

links de ideia para logo
https://www.freepik.com/free-vector/flat-logos-collection-brewery_37415866.htm#fromView=search&page=1&position=4&uuid=d9343eae-acc3-4783-875b-6b8c51bbfb81

https://www.freepik.com/free-vector/beer-stickers-vintage-style_1127025.htm#fromView=image_search_similar&page=1&position=35&uuid=d1b8626f-f651-43e4-b7a9-6bb95b4ee96a

https://www.freepik.com/free-vector/international-beer-day-badges_8622111.htm#fromView=image_search_similar&page=1&position=46&uuid=d1b8626f-f651-43e4-b7a9-6bb95b4ee96a

https://www.freepik.com/premium-vector/flat-beer-logo-collection_1541493.htm#fromView=image_search_similar&page=1&position=50&uuid=d1b8626f-f651-43e4-b7a9-6bb95b4ee96a

https://www.freepik.com/premium-vector/hand-drawn-brewery-logo-design_37442694.htm#fromView=image_search_similar&page=1&position=34&uuid=d1b8626f-f651-43e4-b7a9-6bb95b4ee96a

 */


}