/* Variável para as cores */
:root{

--fundo-menu-lateral: #330708;
--fundo-claro: #fdf4b0;
--fundo-claro2: #e3e0b3;

--borda-clara: #e4b75f;
--borda-escura: #361919;

--texto-branco: #efeae4;
--texto-claro: #b8a889; 
--texto-escuro: #361919; 
--texto-hover: #e2cea4;
--texto-opaco: #a7a29a;

--cor-detalhes: #e87624;

--texto-titulo-claro: #e87624; 
--texto-titulo-escuro: #75200f;

--sombra-clara: #e4b75f;

}

/* Css geral */
body {
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    color: var(--texto-claro);
    background: var(--fundo-claro);
}

a {
    color: var(--texto-claro);
    text-decoration: none; /* Retirar underline dos icones das redes sociais */
}

a:hover {
    color: var(--texto-hover);
    text-decoration: none; /* Retirar underline dos icones das redes sociais */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
} 

/* Botão back to top = scroll */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--cor-detalhes);
    transition: all 1s;
}

.back-to-top i {
    font-size: 28px;
    color: var(--texto-branco);
    line-height: 0;
}

.back-to-top {
    /* background: var(--borda-escura); */
    color: var(--texto-claro);
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/* Cabeçalho */
#header {
    position: fixed;
    top: 0; /* Distancia do acima do cabeçalho */
    left: 0;
    bottom: 0; /* Distancia do abaixo do cabeçalho */
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 99; /* Sobreposição */
    padding: 0 15px;
    background: var(--fundo-menu-lateral);
    overflow-y: auto; /* Ativa barra de rolagem quando a tela estiver menor */
}

#header .perfil img {
    margin: 15px auto;
    display: block; /*  */
    width: 120px;
    border: 2px solid var(--borda-clara);
    box-shadow: 0px 0px 10px 0px var(--sombra-clara) ; /* rgba(255, 255, 255, 1)  // sombra da foto de perfil*/
}

#header .perfil h1 {
    font-size: 24px;
    margin: 25px;
    padding: 0;
    font-weight: 600;
    text-align: center;
}

/* Caso tenha link nome Sena Box
#header .perfil h1 a,
#header .perfil h1 a:hover {
    color: ;
    text-decoration: none 
*/

.perfil .social-links i{
    font-size: 18px;
    display: inline-block;
    background: transparent; /* ou var(--fundo-claro) */
    color: var(--texto-claro); /* ou var(--texto-claro) */
    line-height: 1;
    padding: 8px 0;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    width: 35px; /* Largura */
    height: 35px; /* Altura */
    transition: 0.3s;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
}

.perfil .social-links a:hover,
.social-links i:hover {
    font-size: 18px;
    display: inline-block;
    background: white; 
    color: black;
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
}

/* Ajuste para o corpo principal */
#main {
    margin-left: 300px;
}
.container,
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }
    #main {
        margin-left: 0;
    }
    .container,
    .container-fluid {
        padding-left: 12px;
        padding-right: 12px;
    }
}

/* Menu Desktop */
.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * { /* * Cria uma regra de estilo para todos os filhos dentro da classe */
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu>ul>li { /* Revisão */
/*     position: relative;
 */    white-space: nowrap; /* Quabra de linha bloqueada*/
}

.nav-menu a,
.nav-menu:focus { /* Pseudoclasse */
    display: flex;
    align-items: center;
    color: var(--texto-opaco);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 22px; /* Tamanho dos ícones */
    padding-right: 10px;
    /* color: var(--cor-detalhes); */ /* Cor icones menu */
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: var(--texto-claro);
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: var(--cor-detalhes);
}

/* Menu Mobile */
.mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    border: 0;
    font-size: 26px;
    transition: all 0.4s;
    background: var(--cor-detalhes);
    color: var(--texto-branco); 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer; /* Faz a função de transformar em icone - aparece a mãozinha indicando botão */
}

.mobile-nav-active {
    overflow: hidden; /* Transbordar */
}

.mobile-nav-active #header {
    left: 0;  
}

/* Hero */
#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/fundo-hero.jpg") top center;
    background-size: cover;

}
#hero::before {
    content: "";
    background: rgba(24, 15, 5, 0.555);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    color: var(--texto-branco);
    /* text-align: center; */
}

#hero p {
    font-size: 45px;
    color: var(--texto-branco);
    background: rgba(31, 31, 31, 0.5); 
    /* text-align: center; */
}

#hero p span {
    color: var(--texto-branco);
    padding-bottom: 5px;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--cor-detalhes);
}

@media (max-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

 @media (max-width: 768px) {
    #hero h1 {
        font-size: 75px;
        line-height: 55px; /* Altura de linha */
        /* padding-left: 90px;
        padding-right: 90px; */
    }
    #hero p {
        font-size: 25px;
        }
}

/* Seções Gerais */
section {
    padding: 60px 0;
    overflow: hidden;
    background: var(--fundo-claro)
}

.section-bg {
    background: var(--fundo-escuro);
    color: var(--texto-claro);
}

.section-title h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: var(--texto-titulo-escuro);
    position: relative;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--cor-detalhes);
    bottom: -2;
    left: 0;
}

.section-title p {
    margin-bottom: 0;
}

/* Sobre */



/* 
Sena Box - assinatura mensal de box de produtos

site no nicho de box de bebidas
cores:
tons laranjas
.color1 { #330708 };
.color2 { #e84624 }; 
.color3 { #e87624 }; 
.color4 { #e8a726 }; 
.color5 { #e8d826 }; 

--cor2: #e84624;
--cor3: #e87624;
--cor4: #e8a726;
--cor5: #e8d826;
--cor6: #f5be58;

tons verdes
cores
.color1 { #373737 };
.color2 { #8db986 };
.color3 { #acce91 };
.color4 { #badb73 };
.color5 { #efeae4 };

site no nicho de beleza 
cores: 
.color1 { #079ea6 }; 
.color2 { #1e0c42 }; 
.color3 { #f0077b }; 
.color4 { #f5be58 }; 
.color5 { #e3e0b3 };

site no nicho de bebe, alimentos naturais,  
tons pasteis 
cores:
.color1 { #fdf4b0 }; 
.color2 { #a4dcb9 }; 
.color3 { #5bcebf };
.color4 { #32b9be }; 
.color5 { #2e97b7 }; 

*/
